body {
    margin: 0;
}

.header {
    background-color: burlywood;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
}

.navigation {
    padding-top: 31px;
}

.navigation a {
    margin: 0 7px;
    color: saddlebrown;
    text-decoration: auto;
    -webkit-text-stroke-width: thin;
    font-size: 150%;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 2px;
}

#about:hover {
    border-bottom: 1px solid saddlebrown;
}

#gallery:hover {
    border-bottom: 1px solid saddlebrown;
}

#contact:hover {
    border-bottom: 1px solid saddlebrown;
}

.title {
    font-family: 'Dancing Script', cursive;
    letter-spacing: 1px;
    color: saddlebrown;
    float: left;
}

.logo-div {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 15px;
    padding-top: 15px;
}

.main-logo {
    max-width: 100%;
    max-height: 100%;
}

#main-section {
    padding: 0px 50px;
    background-image: url(assets/images/background1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
    overflow: auto;
}


h3 {
    text-align: center;
    font-size: -webkit-xxx-large;
    font-family: 'Dancing Script', cursive;
    color: maroon;
}

#first-p {
    margin-top: 0px;
    text-align: center;
    font-size: -webkit-xxx-large;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    color: maroon;
}

#second-p {
    text-align: center;
    font-size: -webkit-xxx-large;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    color: maroon;
    
}

ul {
    list-style: none;
}

ul li {
    float: left;
}

footer {
    background-color: burlywood;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
}

.copyright {
    margin: 0 auto;
    padding-top: 15px;
}

.gallery-section {
    height: 700px;
}