body {
    margin: 0;
}

.header {
    background-color: burlywood;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
}

.navigation {
    padding-top: 31px;
}

.navigation a {
    margin: 0 7px;
    color: saddlebrown;
    text-decoration: auto;
    -webkit-text-stroke-width: thin;
    font-size: 150%;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 2px;
}

#about:hover {
    border-bottom: 1px solid saddlebrown;
}

#gallery:hover {
    border-bottom: 1px solid saddlebrown;
}

#contact:hover {
    border-bottom: 1px solid saddlebrown;
}

.title {
    font-family: 'Dancing Script', cursive;
    letter-spacing: 1px;
    color: saddlebrown;
    float: left;
}

.logo-div {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 15px;
    padding-top: 15px;
}

.main-logo {
    max-width: 100%;
    max-height: 100%;
}

#main-section {
    padding: 0px 50px;
    background-image: url(../images/background1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
    overflow: auto;
}


h3 {
    text-align: center;
    font-size: -webkit-xxx-large;
    font-family: 'Dancing Script', cursive;
    color: maroon;
}

h4 {
    text-align: left;
    font-family: 'Dancing Script', cursive;
    color: maroon;
}

#first-p {
    margin-top: 0px;
    text-align: center;
    font-size: -webkit-xxx-large;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    color: maroon;
}

#second-p {
    text-align: center;
    font-size: -webkit-xxx-large;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    color: maroon;
    
}

ul {
    list-style: none;
}

ul li {
    float: left;
}

footer {
    background-color: burlywood;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
}

.copyright {
    margin: 0 auto;
    padding-top: 15px;
}

.gallery-section {
    height: 700px;
    background-color: antiquewhite;
}

.gallery-title {
    margin: inherit;
    font-size: 35px;
    color: maroon;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    padding-top: 20px;
}

.image {
    max-height: 100%;
    max-width: 100%;
}

.boxmap-contact {
    background: antiquewhite;
    margin-top: 30px;
    padding: 30px;
}

.section-contact {
    height: 650px;
    background: url('../images/blur-shop.jpg') ;
}

.contact-box {
    background-color: saddlebrown;
    box-shadow: 0 0 20px 0 #999;
    margin-left: 0px;
    margin-top: 0px;
}

form {
    margin: 0;
}

.submit-button {
background-color: saddlebrown; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 12px;
}


.input-field {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    padding-left: 40px;
    border: 4px solid #7876;
    background-color: burlywood;

}

.map {
    float: left;
    margin-left: 20px;
    margin-top: 50px;
}

.gallery-image {
    width: 220px;
    height: 200px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

#galery_images {
    padding: 50px;
}

.text-right {
    text-align: right;
}

.h100p {
    height: 100px;
}